django
gunicorn
django-heroku
asn1crypto
attrs
Automat
bcrypt
beautifulsoup4
blinker
boto
certifi
cffi
chardet
click
colorama
configobj
configparser
constantly
crayons
cryptography
decorator
distro-info
Django
dlib
dnspython
easytello
email-validator
Flask
Flask-Cors
Flask-Ext
Flask-SocketIO
Flask-WTF
html5lib
httplib2
hyperlink
ibm-cloud-sdk-core
ibm-watson
idna
incremental
ipython-genutils
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
jupyter-core
keyring
keyrings.alt
lxml
MarkupSafe
netifaces
numpy
oauthlib
olefile
opencv-python
PAM
pandas
Pillow
pip
pipenv
pyasn1
pyasn1-modules
pycparser
pycrypto
pygobject
PyJWT
pymongo
pyOpenSSL
pyserial
pytesseract
python-dateutil
python-debian
python-dotenv
python-engineio
python-socketio
python-wifi
pytz
pyxdg
PyYAML
requests
requests-unixsocket
scipy
SecretStorage
selenium
service-identity
setuptools
six
soupsieve
sqlparse
ssh-import-id
systemd-python
tabulate
traitlets
urllib3
virtualenv
virtualenv-clone
watson-developer-cloud
webdriver-manager
webencodings
websocket-client
Werkzeug
wheel
WTForms
zope.interface